*{
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    width: 1170px;
    margin: 0 auto;
}

body{
    margin-top: 75px;
}

li{list-style: none;}
a{text-decoration: none;}

.wrapper {
    width: 1170px; 
    margin: 0 auto;
}

header {
    position : fixed;
    top: 0;
    left : 0;
    right : 0;
    height: 75px;
    padding : 1rem;
    background-color: rgb(255, 245, 245);
    justify-content: space-between;
    align-items: center;
}
h1 {
    float: left;
    margin-top: 0px;
    position : absolute;
    top : 13px;
}
h1 > img {
    width: auto;
    height: auto;
}
.menu a {
    color : rgb(146, 146, 146);
    font-size: 25px;
    line-height: 75px;
    padding: 0 35px;
    display: inline-block;
}
.menu a:hover {color : black;}
span {
    color : rgb(255, 88, 88);
    font-weight: 600;
}
.menu {float: right;}
.menu li {float: left;}

article{
    height: auto;
    width: 1170px;
}

.up-wrapper {
    width: 1170px;
    height: 470px;
    display: flex;
}

.up-img{
    padding-top: 32px;
}
.up-img img{
    height: 400px;
    width: 585px;
    float: left;
    
}
.up-text {
    padding-top: 32px;
    background-color: rgb(255, 247, 196);
    text-align: center;
    height: 400px;
    width: 585px;
    font-size: 25px;
    color : rgb(118, 118, 118);
    display: inline-block;   
}
.up-text > h3 {color : rgb(160, 156, 156);}
.up-text > p{
    background-color: white;
    top: 340px;
    left: 1300px;
    width: 250px;
    height: 45px;
    padding: 10px;
    border-radius: 50px;
    margin-left: 150px;
    line-height: 45px;
    font-weight: 1000;
}
.up-text p:hover{
    color:rgb(255, 149, 79)
}


.middle-wrpper{
    width: 1170px;
    text-align: center;
    margin: 0 auto;
    display:inline-block
}
.best-diary{
    width: 585px;
    height: 730px;
    float: left;
    color: rgb(255, 88, 88);
    font-size: 25px;
}
.best-diary > hr {
    height: 2px;
    background-color: rgb(255, 181, 181);
    width: 570px;
    border: 0px;
}
table {
    border-spacing: 15px;
}
.new-items{
    width: 585px;
    height: 730px;
    display:inline-block;
    color: rgb(255, 184, 88);
    font-size: 25px;
}
.new-items > hr {
    height: 2px;
    background-color: rgb(255, 217, 128);
    width: 570px;
    border: 0px;
}
.best-diary > h3 > span {color: rgb(133, 133, 133);}
.new-items > h3 > span {color: rgb(133, 133, 133);}


.under-wrapper{
    width: 1170px;
    text-align: center;
    display:inline-block;
    margin: 0 auto;
}
.today-event{
    width: 585px;
    height: 700px;
    float: left;
    color: rgb(107, 239, 87);
    font-size: 25px;
}
.today-event > hr {
    height: 2px;
    background-color: rgb(124, 250, 97);
    width: 570px;
    border: 0px;
}
.notice{
    width: 585px;
    height: 700px;
    display:inline-block;
    color: rgb(133, 133, 133);
    font-size: 25px;
}
.notice > hr {
    height: 2px;
    background-color: rgb(197, 194, 194);
    width: 570px;
    border: 0px;
}
.today-event > h3 > span {color: rgb(133, 133, 133);}

.notice table{
    margin-left:20px;
    margin-right:10px;
    border-collapse: collapse;
    width: 550px;
}
.notice tr{border-bottom: 1px solid rgb(197, 194, 194);}
.notice tr:hover{background : rgb(241, 241, 241);}
.notice td{padding: 20px;}
.text {
    font-size:20px;
    font-weight: 600;
    padding-top:5px;
    padding-bottom: 5px; 
}
.day {
    font-weight: 500;
    font-size: 15px;
    float: right;
}

footer {
    height: 10px;
    padding-bottom: 2rem;
    background: rgb(253, 210, 210);
    padding-left: 1rem;
}

.imformation{
    font-size:15px;
    line-height: 25px;
    text-align: left;
    display: block;
}

.imformation li{
    float: left;
    padding-top: 10px;
}

.imformation a{
    padding: 10px; 
    color: rgb(133,133,133);
}

.imformation a:hover { color: black}

.sns{
    float: right;
    padding: 5px;
}
.sns img{
    padding:5px;
}
